/* Aqui comienza nuestro CSS*/

.bg-primary {
  background: rgb(64, 74, 62) !important;
}

.navlogo {
  max-height: 150px; /* Ajusta la altura máxima según sea necesario */
}

h1 {
  font-size: 40px;
  color: black;
  font-weight: 600;
}

.h1 {
  font-size: 35px;
}

.h2 {
  font-size: 20px;
  font-weight: 600;
}

.divider {
  border-left: 1px solid rgb(122, 122, 122);
}

.background-tortugas {
  position: relative;
}

.background-tortugas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("tortugas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  border: 0px solid #000000;
}

.bg-inslogo {
  border-radius: 75px;
  padding: 10px; /* Añadir padding para mejorar el espacio alrededor del texto */
  word-wrap: break-word; /* Asegurarse de que el texto se ajuste al contenedor */
  /* From https://css.glass */
  background: rgba(254, 249, 249, 0.57);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
}

.nav-link {
  color: #ffffff; /* Color de texto blanco */
  text-decoration: none; /* Sin subrayado */
  padding: 0.5rem 1rem; /* Espaciado interno */
}

.nav-link:hover {
  color: #ffc107; /* Color de texto al pasar el ratón */
}

.bg-black {
  border-radius: 75px 75px 75px 75px;
  padding: 10px;
}

i {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.boxshadow {
  box-shadow: 0px 17px 15px -3px rgba(0, 0, 0, 0.1);
}

.custom-card-width {
  width: 90%;
  margin: 0 auto; /* Centrar la tarjeta horizontalmente */
}

.bg-glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.62);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 500px; /* Ajusta este valor según sea necesario */
}

.carousel-item {
  flex: 1 0 auto;
  display: none; /* Ocultar todas las diapositivas */
  height: 100%;
}

.carousel-item.active {
  display: block; /* Mostrar solo la diapositiva activa */
}

.custom-card-width .card-body {
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  max-height: 100%; /* Asegurar que el texto no se salga del contenedor */
  overflow-y: auto; /* Hacer el texto desplazable si es demasiado largo */
}

.carousel-item img {
  object-fit: cover;
  max-height: 500px; /* Ajusta la altura máxima según sea necesario */
  width: 100%;
}

@media (max-width: 767.98px) {
  .carousel-caption {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1rem;
  }
  .text-truncate {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .btn-sm {
      margin-top: 0.5rem;
  }
}
